/* .projects-sidebar-container {
  border: 1px solid rgb(55, 57, 59);
  width: 300px;
  margin-left: 10px;
  border-radius: 5px;
}



.projects-nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding:0;
  flex-direction: column;
  align-items: center;
}

.project-list-item {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.project-list-item:hover{
  background-color: rgb(201, 201, 201);
}

.project-button {
  margin-top: 5px;
}

.project-form {
  border-top: 1px solid rgb(55, 57, 59);
  margin-top: 5px;
}

.project-form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.project-form-item > input {
  width: 60%;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid rgb(55, 57, 59);
}

#project-description {
  height: 40px;
  width: 80%;
  margin-top: 5px;
  border-radius: 5px;
}

 */
