.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #2e333d;
  
}

.title {
  font-style: oblique;
  margin: 0;
  padding: 2vh;
  color: white;
}

.App-link {
  color: #09d3ac;
}
