

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.calender {
  width: 70%;
  border: 1px solid black;
  border-radius: 5px;
  border-spacing: 10px;
}

.month-header {
  text-align: left;
  padding-left: 4%;
}

.label-month {
  font-size: 24px;
}

.day-passed {
  background-color: grey;
}
.day-header {
  display: flex;
  justify-content: flex-end;
  min-height: 30px;
}

.day-option-menu {
  border-top-right-radius: 4px;
}
.day-option-menu:hover {
  background-color: var(--seafoam);
  cursor: pointer;
}

.day-option-menu.open {
  background-color: var(--seafoam);
  position: absolute;
  
}

.day-option-menu.open:hover {
  cursor: default;
}

.day-options-container {
  background-color: var(--seafoam);
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.day.unavailable {
  color: red;
}
.day-options-container li {
  padding: 2px 5px;
}

.day-options-container li:hover {
  background-color: var(--charcoal);
  color: white;
}

.label-year {
  font-size: 24px;
}

.label-year:hover {
  cursor: pointer;
}

.label-month:hover {
  cursor: pointer;
  text-decoration: underline;
}

.weekday-headers {
  color: black;
  font-weight: 600;
}


.day {
  width: 5%;
  border: 1px solid black;
  border-radius: 5px;
}

.day:hover {
  background-color: white;
}

.current-day {
  border: 2px solid red;
}

.month-popup {
  position: absolute;
  background-color: var(--charcoal);
  display: flex;
  flex-direction: column;
}

.month-link {
  padding: 0 5px;
  flex: 1;
  font-size: 18px;
  background-color: var(--charcoal);
  text-decoration: none;
  color: white;
}

.month-link:hover {
  background-color: var(--seafoam)
}


