
*  {
  box-sizing: border-box;
}
.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}

.calendar-container h2 {
  color: white;
}


.calender {
  width: 80%;
  border: 1px solid black;
  background-color: var(--charcoal);
  color: white;
  border-radius: 5px;
  border-spacing: 10px;
}

.month-header {
  text-align: left;
  padding-left: 4%;
}

.label-month {
  font-size: 24px;
}

.day.day-passed {
  background-color: lightgray;
  padding: 0;

}

.day-header {
  display: flex;
  justify-content: flex-end;
  min-height: 30px;
}



.day-option-menu:hover {
  background-color: rgb(179, 71, 0);
  cursor: pointer;
}

.day-option-menu.open {
  background-color: rgb(179, 71, 0);
  position: absolute;
  
}

.day-option-menu.open:hover {
  cursor: default;
}

.day-options-container {
  background-color: rgb(179, 71, 0);
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.day.unavailable {
  color: red;
}
.day-options-container li {
  padding: 2px 5px;
}

.day-notification-container {
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.event-bubble-notification {
  
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: purple;
}

.day-options-container li:hover {
  background-color: rgb(255, 102, 0);
  color: white;
}

.label-year {
  font-size: 24px;
}

.label-year:hover {
  cursor: pointer;
}

.label-month:hover {
  cursor: pointer;
  text-decoration: underline;
}

.weekday-headers {
  color: white;  
  font-weight: 600;
}


.day {
  color: black;
  width: 80px;
  border-radius: 2px;
  background-color: var(--seafoam);
}

.day:hover {
  background-color: rgb(255, 102, 0);
  color: white;
}

.current-day {
  background-color: rgb(86, 156, 236);
}

.month-popup {
  position: absolute;
  background-color: var(--charcoal);
  display: flex;
  flex-direction: column;
}

.month-link {
  padding: 0 5px;
  flex: 1;
  font-size: 18px;
  background-color: var(--charcoal);
  text-decoration: none;
  color: white;
}

.month-link:hover {
  background-color: var(--seafoam)
}


