.project-search{
  display: flex;
  flex-direction: column;
}

#project-search-input {
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
}

#project-search-input::placeholder {
  color: var(--seafoam);
  font-size: 14px;
}

/* #project-search-input.search-active {
  position: absolute;
  top: 30%; 
  left: 10%; 
  /* transform: translate(-50%, -50%); */
  /* background-image: var(--theme-gradiant-purple);
  padding: 0;
  width: 80%;
  border-radius: 15px;
  border: 1px solid darkgray;
}  */



#project-search-input:focus {
  outline-color: var(--seafoam);
  outline-width: 5px;
  outline-offset: 2px;
}


.search-results-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--charcoal);
  color: white;
  max-height: 300px;
  overflow: scroll;
}

.project-search-result-item {
  position: relative;
  text-align: left;
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid var(--seafoam);
}

.project-sri-link {
  color: var(--seafoam);
  text-decoration: none;
}

.project-sri-link:hover {
  color: var(--seafoam-active);
  text-decoration: underline;
}

.project-sri-date {
  font-size: 12px;
}