.projects-sidebar-container {
  border: 2px solid var(--charcoal);
  position: absolute;
  width: 300px;
  border-radius: 5px;
}



.projects-nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding:0;
  flex-direction: column;
}

.project-list-item {
  text-align: left;
  margin-left: 5px;
}

.inactive-project:hover {
  background-color: var(--seafoam);
}


.project-list-link {
  text-decoration: none;
  color: white;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

}


.project-button {
  margin-top: 5px;
}

.project-form {
  border-top: 3px solid rgb(55, 57, 59);
  margin-top: 5px;
}

.project-form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  color: white;
}

.project-form-item > input {
  width: 60%;
  border-radius: 5px;
  height: 20px;
  margin-top: 5px;
  border: 1px solid rgb(55, 57, 59);
}

#project-description {
  height: 50px;
  width: 80%;
  margin-top: 5px;
  border-radius: 5px;
}

.project-button {
  color: white;
  background-color: var(--seafoam);
  border: none;
  height: 30px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 3px;
}

.project-button:hover {
  cursor: pointer;
}

.project-button.cancel-button {
  background-color: var(--burnt-orange);
  height: 25px;

}


.chat-controller {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--charcoal);
  background-color: var(--seafoam-dark);
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}



.sidebar-header {
  flex: .3333;
  padding: 5px 0;
}

.sidebar-header:hover {
  cursor: pointer;
}

.middle-header {
  border-left: 1px solid var(--charcoal);
  border-right: 1px solid var(--charcoal);

}
.active {
  background-color: var(--charcoal);
  color: white;
}

.sidebar-header.active:hover {
  cursor: default;
}

.projects-sidebar {
  background-color: var(--charcoal);
}

.current-project {
  /* background: linear-gradient(90deg, var(--purple) 0%, var(--sky-blue) 140%); */
  background-color: var(--seafoam);
}

.sidebar-collapsed-container {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
}

.sidebar-collapsed-button {
  font-size: 16px;
  width: 100px;
  height: 40px;
  background-color: var(--seafoam);
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

.sidebar-collapsed-button:hover {
  cursor: pointer;
}
