.projects-route-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  
}

.project-summary-container {
  width: 100%;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.project-summary {
  background: var(--deep-blue-dark);
  width: 30%;
  padding-left: 20px;
  color: white;

  align-self: center;
  border-radius: 10px;
  text-align: left;
}

.project-summary-header {
  display: flex;
}

.project-calendar-button {
  height: 50px;
  align-self: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--seafoam);
  border: none;
  border-radius: 5px;
  transition: margin .2s, box-shadow .2s;
}


.project-calendar-button:hover {
  cursor: pointer;
  margin-right: 2px;
  margin-bottom: 5px;
  box-shadow: 3px 6px 5px -1px var(--burnt-orange);
}

.project-title {
  flex: .5;
} 

.project-info-container {
  display: flex;
  justify-content: space-evenly;
}

.project-events-info {
  background-color: var(--deep-blue-dark);
  color: white;
  padding: 15px;
  flex: .4;
}



.event-list-container {
  border: 1px solid red;
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  height: 300px;
}

.event-item {
  width: 80%;
  border: 1px solid green;
  text-decoration: none;
}

.project-placeholder-section {
  flex: .4;
  border: 1px solid var(--charcoal);
}


.exit-modal {
  position: absolute;
  right: 0px;
  padding: 10px;
  background-color: var(--charcoal);
  border-top-right-radius: 15px;
  color: var(--burnt-orange);
  font-size: 36px;
}

.exit-modal:hover{
  cursor: pointer;
  color: var(--charcoal);
  background-color: var(--burnt-orange);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: var(--theme-gradiant-purple);
  padding: 0;
  width: 80%;
  border-radius: 15px;
  border: 1px solid darkgray;
}

.modal-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.445);
  overflow-y: scroll
}